* {
  box-sizing: border-box;
}

[ng-cloak] {
  display: none;
}

body {
  background-color: lighten($grey, 60%);
  color: $grey;
  margin: 0;
  min-width: 320px;
  margin-top: 45px;
}

.meals {
  padding: 20px;
}

.restaurant-name {
  font-size: 25px;
  margin-top: 15px;
}