@mixin basket-style () {
    background-color: lighten($red, 10%);
    border: darken($red, 10%) 1px solid;
    border-radius: 3px;
}

.fi-basket {
  background-color: $red;
  color: $white;
  left: 0;
  min-height: 55px;
  padding: 10px 20px;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 200;
  
  &__info {
    margin: 0;
    padding: 5px;
    
    @include basket-style;
  }
  
  &__total {
    float: right;
  }
  
  &__close {
    margin: 15px 0;
  }
  
  &__title {
    font-size: 18px;
  }
  
  &__description {
    font-size: 12px;
    font-style: italic;
    margin-top: 0;
  }
  
  &__items {
    list-style-type: none;
    margin: 0;
    padding: 0;
    
    &__item {
      height: 50px;
      line-height: 50px;
      margin: 15px 0;
      
      @include basket-style;
      
      .quantity, .name, .price {
        display: inline-block;
      }
      
      .name, .price {
        font-size: 16px;
      }
      
      .quantity {
        background-color: $red;
        font-size: 10px;
        vertical-align: top;
        height: 100%;
        text-align: center;
        width: 20px;
      }
      
      .name {
        padding: 0 10px;
      }
      
      .price {
        float: right;
        padding: 0 10px;
        height: 100%;
      }
    }
  }
  
  
  &--collapsed {}
  &--expanded {}
}