.button-blue {
  background-color: $blue;
  border: none;
  border-radius: 2px;
  color: $white;
  font-size: scaled-value($text_size--base, 20, 1px);
  font-style: italic;
  padding: 10px;
  text-align: center;
}